/*------------------------------ VARIABLE CSS ------------------------------*/
:root{
    --color-gold: rgb(156, 128, 83);
    --color-dark: rgb(35, 35, 36);
    --color-light: white;
    --font-main-family: "bigNoodle", sans-serif;
    --font-main-family-italik:"bigNoodleOblik", sans-serif;
    --font-main: 400 16px/1.3 var(--font-main-family);
    --font-main-italik: 400 16px/1.3 var(--font-main-family-italik);
}
/*------------------------------ RESET CSS ------------------------------*/
*:before, *, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* RESET IMG */
img{
    display: block;
    width: 100%;
}
/* RESET OTHER */
a{
    color: inherit;
    text-decoration: none;
}
/*------------------------------ TYPO ------------------------------*/
@font-face {
    font-family: "bigNoodle";
    src: url("/assets/font/big_noodle_titling_0.ttf");
}@font-face {
    font-family: "bigNoodleOblik";
    src: url("/assets/font/big_noodle_titling_oblique_0.ttf");
}
/*------------------------------ BODY ------------------------------*/
body{
    background-image: url("/assets/logo/viking.jpg");
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    font: var(--font-main);
    color: var(--color-light);
}
/*------------------------------ HEADER ------------------------------*/
.logo{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.logo img:first-child{
    height: auto;
    width: 55%;
}
.logo img:last-child{
    width: auto;
    height:150px;
}
/*------------------------------ NAVBAR ------------------------------*/
#navBar{
    background-color: var(--color-dark);
    border-top: 2px solid var(--color-gold);
    border-bottom: 2px solid var(--color-gold);
    padding: 1rem;
    position: relative;
}
#navBar .menu{
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 900px;
    margin: auto;
}
#navBar .menu > .menu-item{
    color: var(--color-light);
    display: block;
    font-size: 1.2rem;
}
#navBar .menu > .menu-item:hover, #navBar .menu > .menu-item.active{
    color: var(--color-gold);
}
#navBar #burger{
    display: none;
    color: var(--color-gold);
    font-size: 2rem;
}
/*------------------------------ VALHALLA KID'Z ------------------------------*/
main #kidz{
    text-align: center;
}
main #kidz > h1{
    margin: 3rem;
}
main #kidz > h1 > span{
    font-family: var(--font-main-family-italik);
}
main #kidz > iframe{
    width: 80%;
    height: 1000px;
}
/*------------------------------ 404 ------------------------------*/
main #ouch404 {
    position: relative;
    height: auto;
    width: 100%;
}
main #ouch404 > div{
    position: absolute;
    top: 4rem;
    left: 5rem;
    color: rgb(35, 35, 36);
}
main #ouch404 > div h1{
    font-size: 12rem;
}
main #ouch404 > div p{
    font-size: 5rem;
    font-family: var(--font-main-family-italik);
}
main #ouch404 > div p span{
    font-weight: 600;
}
/*------------------------------ FOOTER ------------------------------*/
/* div parent top-footer*/
#footer{
    background-color: var(--color-dark);
    color: var(--color-light);
    border-top: 3px solid var(--color-gold);
    padding: 2rem 2rem 0.5rem;
}
#footer .top-footer{
    display: flex;
}
#footer .top-footer .top-footer-item{
    width: 50%;
    text-transform: uppercase;
}
#footer .top-footer .top-footer-item:first-child{
    border-right: 1px solid var(--color-gold);
}
#footer .top-footer .top-footer-item:last-child{
    padding-left: 2rem;
}
#footer .top-footer .top-footer-item .footer-title{
    color: var(--color-gold);
}
#footer .top-footer .top-footer-item .footer-description{
    padding-top: 1rem;
    line-height: 2;
    font-size: 0.9rem;
}
#footer .top-footer .top-footer-item .footer-description img{
    width: 3rem;
    display: inline-block;
}
/* div copy*/
#footer .copyright{
    display: flex;
    justify-content: space-between;
    color: var(--color-gold);
    border-top: 1px solid var(--color-gold);
    padding: 0.5rem 0 0;
    margin-top: 2rem;
}

/*------------------------------ RESPONSIVE MEDIA QUERY ------------------------------*/
@media (max-width: 1400px) {
    .logo img:first-child{
        display: none;
    }
    .logo{
        justify-content: flex-end;
    }
}
@media (max-width: 992px) {
    /* NAVBAR */
    #navBar #burger{
        display: block;
    }
    #navBar .menu{
        display: block;
        position: absolute;
        background-color: var(--color-dark);
        height: 0;
        left: 0;
        right: 0;
        top: 100%;
        max-width: 100%;
        transition: 0.5s;
        overflow: hidden; /*Me permet de cacher les elements quand le menu se repli*/
        padding: 0 0.8rem;
        z-index: 10;
    }
    #navBar .menu .menu-item{
        padding: 0.8rem 0;
        border-bottom: 1px solid var(--color-gold);
    }
    #navBar .menu .menu-item:last-child{
        border-bottom: none;
    }
    #navBar .menu.active{
        border-top: 2px solid var(--color-gold);
        border-bottom: 2px solid var(--color-gold);
        height: 420%;
    }
    /* 404 */
    main #ouch404 > div h1{
        font-size: 6rem;
    }
    main #ouch404 > div p{
        font-size: 3rem;
    }
}
@media (max-width: 768px) {
    /* 404 */
    main #ouch404 > div{
        top: 1.5rem;
        left: 1.5rem;
    }
}
@media (max-width: 576px){
    /* 404 */
    main #ouch404 > div h1{
        font-size: 4rem;
    }
    main #ouch404 > div p{
        font-size: 2rem;
    }
}