/*------------------------------ VARIABLE CSS ------------------------------*/
:root{
    --color-gold: rgb(156, 128, 83);
    --color-dark: rgb(35, 35, 36);
    --color-light: white;
    --font-main-family: "bigNoodle", sans-serif;
    --font-main-family-italik:"bigNoodleOblik", sans-serif;
    --font-main: 400 16px/1.3 var(--font-main-family);
    --font-main-italik: 400 16px/1.3 var(--font-main-family-italik);
}
/*------------------------------ RESET CSS ------------------------------*/
*:before, *, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* RESET IMG */
img{
    display: block;
    width: 100%;
}
/* RESET OTHER */
a{
    color: inherit;
    text-decoration: none;
}
hr{
    border: 0;
    border-top: 2px dashed var(--color-gold);
    margin: 0.5rem 1rem;
}
input, textarea, select, button{
    margin: 0;
    padding: 0;
    font-family: var(--font-main-family);
    outline: none;
}
/*------------------------------ TYPO ------------------------------*/
@font-face {
    font-family: "bigNoodle";
    src: url("../font/big_noodle_titling_0.ttf");
}@font-face {
    font-family: "bigNoodleOblik";
    src: url("../font/big_noodle_titling_oblique_0.ttf");
}
/*------------------------------ CLASS GÉNÉRIQUE ------------------------------*/
.container{
    width: 1140px;
    margin: auto;
    padding: 0.7rem;
}
.container-xl{
    width: 100%;
    padding: 0.7rem;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.d-flex.no-wrap{
    flex-wrap: nowrap;
}
.d-flex.items-center{
    align-items: center;
}
.w-20{
    width: 20%;
}
.w-25{
    width: 25%;
}
.w-30{
    width: 30%;
}
.w-33{
    width: 33.333333%;
}
.w-50{
    width: 50%;
}
.w-70{
    width: 70%;
}
.w-75{
    width: 75%;
}
.w-80{
    width: 80%;
}
.w-100{
    width: 100%;
}
.h-100{
    height: 100%;
}
.m-1{
    margin: 1rem;
}
.my-1{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.m-2{
    margin: 2rem;
}
.my-2{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.p-0-5{
    padding: .5rem;
}
.p-1{
    padding: 1rem;
}
.py-1{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.p-2{
    padding: 2rem;
}
.px-2{
    padding-left: 2rem;
    padding-right: 2rem;
}
.btn{
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--color-gold);
    color: white;
    border: 1px solid var(--color-gold);
    border-radius: 0.7rem;
}
.btn:hover{
    background-color: transparent;
    color: var(--color-gold);
}
.text-center{
    text-align: center;
}
.d-block{
    display: block;
}
h1{
    text-align: center;
    font-size: 4rem;
}
.bg{
    background-color: var(--color-dark);
}
.sa{
    justify-content: space-around;
}
.border{
    border: 3px solid var(--color-gold);
}
.radius{
    border-radius: 40px;
}
/* Form */
.form-group{
    display: block;
    margin-top: .7rem;
    margin-bottom: .7rem;
}
.form-group .form-label{
    display: block;
    width: 100%;
    color: var(--color-gold);
    font-family: var(--font-main-family-italik);
    font-size: 1.5rem;
}
.form-group .form-input{
    display: block;
    width: 100%;
    border: 1px solid var(--color-gold);
    border-radius: .7rem;
    padding: .5rem 1rem;
    font-size: 1.2rem;
}
.form-group .form-error{
    color: red;
}
.form-group .form-error ~ .form-input{
    border: 1px solid red;
}
/*------------------------------ BODY ------------------------------*/
body{
    background-image: url("../img/logo/viking.webp");
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    font: var(--font-main);
    color: var(--color-light);
}
.body-tournois{
    background-image: url("../img/logo/backVikingRed.webp");
}
/*------------------------------ HEADER ------------------------------*/
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.logo img:first-child{
    height: 100px;
    width: auto;
}
.logo img:last-child{
    width: auto;
    height:150px;
}
/*------------------------------ NAVBAR ------------------------------*/
#navBar{
    background-color: var(--color-dark);
    border-top: 2px solid var(--color-gold);
    border-bottom: 2px solid var(--color-gold);
    padding: 1rem;
    position: relative;
}
#navBar .menu{
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 900px;
    margin: auto;
}
#navBar .menu > .menu-item{
    color: var(--color-light);
    display: block;
    font-size: 1.6rem;
}
#navBar .menu > .menu-item:hover, #navBar .menu > .menu-item.active{
    color: var(--color-gold);
}
#navBar #burger{
    display: none;
    color: var(--color-gold);
    font-size: 2rem;
}
/*------------------------------ CLUB ------------------------------*/
.container-xl h1 > span > span{
    color: var(--color-gold);
    font-size: 6rem;
    font-family: var(--font-main-family-italik);
}
/* SIDEBAR */
.container-xl .sidebar{
    background-color: var(--color-dark);
    border: 2px solid var(--color-gold);
    border-radius: 40px;
    overflow: hidden;
    position: sticky;
    top: 2rem;
}
.container-xl .sidebar > h2{
    color: var(--color-gold);
    font-size: 2.5rem;
    text-align: center;
    box-shadow: 0 8px 15px -6px var(--color-gold);
    margin-bottom: 1rem;
    padding: 1rem;
}
.container-xl .sidebar .sidebar-container{
    overflow-y: auto;
    max-height: 70vh;
}
.container-xl .sidebar .sidebar-category > h3{
    text-align: center;
    color: var(--color-gold);
    margin: 1rem 0;
    font-family: var(--font-main-family-italik);
    font-size: 1.5rem;
}
.container-xl .sidebar .sidebar-category .sidebar-items{
    padding: 0 1rem;
}
.container-xl .sidebar .sidebar-category .sidebar-items .sidebar-item{
    padding: 1rem 0;
    border-bottom: 1px solid var(--color-gold);
}
.container-xl .sidebar .sidebar-category .sidebar-items .sidebar-item:last-child{
    border-bottom: none;
}
.container-xl .sidebar .sidebar-category .sidebar-items .sidebar-item .item-title{
    font-size: 1.1rem;
    color: var(--color-gold);
}
.container-xl .sidebar .sidebar-category .sidebar-items .sidebar-item .item-description{
    font-family: var(--font-main-family-italik);
    font-size: 0.9rem;
}
/* Carousel */
.icon-cards {
    position: relative;
    width: 60vw;
    height: 40vw;
    max-width: 532px;
    max-height: 350px;
    margin: 2rem auto;
    color: white;
    perspective: 1000px;
    transform-origin: center;
}
.icon-cards__content {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: translateZ(-30vw) rotateY(0);
    animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
}
.icon-cards__content.step-animation {
    animation: carousel 8s infinite steps(1) forwards;
}
.icon-cards__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 60vw;
    height: 40vw;
    max-width: 532px;
    max-height: 350px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
    border-radius: 6px;
    transform-origin: center;
    padding: .5rem;
}
.icon-cards__item:nth-child(1) {
    border: 2px solid var(--color-gold);
    border-radius: 40px;
    background: var(--color-dark);
    transform: rotateY(0) translateZ(35vw);
}
.icon-cards__item:nth-child(2) {
    border: 2px solid var(--color-gold);
    border-radius: 40px;
    background: var(--color-dark);
    transform: rotateY(120deg) translateZ(35vw);
}
.icon-cards__item:nth-child(3) {
    border: 2px solid var(--color-gold);
    border-radius: 40px;
    background: var(--color-dark);
    transform: rotateY(240deg) translateZ(35vw);
}
@keyframes carousel {
    0%, 17.5% {
        transform: translateZ(-35vw) rotateY(0);
    }
    27.5%, 45% {
        transform: translateZ(-35vw) rotateY(-120deg);
    }
    55%, 72.5% {
        transform: translateZ(-35vw) rotateY(-240deg);
    }
    82.5%, 100% {
        transform: translateZ(-35vw) rotateY(-360deg);
    }
}
.checkbox {
    position: relative;
    margin-top: 2rem;
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #f47956;
    transition: color 0.3s ease;
    user-select: none;
}
.checkbox:hover {
    color: #f7a95a;
}
.checkbox__checkbox {
    position: relative;
    top: 0;
    width: 1.0625rem;
    height: 1.0625rem;
    background: white;
    border: 1px solid currentColor;
    border-radius: 4px;
    vertical-align: middle;
    transition: background 0.1s ease;
    cursor: pointer;
}
.checkbox__checkbox::after {
    content: '';
    position: absolute;
    top: 1px;
    left: 5px;
    width: 5px;
    height: 11px;
    opacity: 0;
    transform: rotate(45deg) scale(0);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: all 0.3s ease;
    transition-delay: 0.15s;
}
.checkbox__label {
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
}
.checkbox > input:checked ~ .checkbox__checkbox {
    border-color: transparent;
    background: #f47956;
    animation: jelly 0.6s ease;
}
.checkbox > input:checked ~ .checkbox__checkbox:after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
}
@keyframes jelly {
    from {
        transform: scale(1, 1);
    }
    30% {
        transform: scale(1.25, 0.75);
    }
    40% {
        transform: scale(0.75, 1.25);
    }
    50% {
        transform: scale(1.15, 0.85);
    }
    65% {
        transform: scale(0.95, 1.05);
    }
    75% {
        transform: scale(1.05, 0.95);
    }
    to {
        transform: scale(1, 1);
    }
}
/* Presentation*/
.container-xl .presentation{
    background-color: var(--color-dark);
    border: 3px solid var(--color-gold);
    border-radius: 40px 40px 0 0;
}
.container-xl .presentation > h2{
    color: var(--color-gold);
    font-size: 3rem;
    margin-bottom: 2rem;
}
.container-xl .presentation > p{
    text-align: justify;
}
/* SECTION */

/* LEADER */
.container-xl .leader{
    background-color: var(--color-dark);
    border: 3px solid var(--color-gold);
}
.container-xl .leader > h2{
    color: var(--color-gold);
    font-size: 3rem;
    margin-bottom: 2rem;
}
.container-xl .team-list{
    margin: 0 -1rem;
}
.container-xl .leader figure{
    text-align: center;
}
.container-xl .leader figcaption{
    color: var(--color-gold);
    font-size: 1.3rem;
}
.container-xl .leader p{
    font-family: var(--font-main-family-italik);
    font-size: 1.1rem;
}
/* PARTNERS */
.container-xl .partners{
    background-color: var(--color-dark);
    border: 3px solid var(--color-gold);
    border-radius: 0 0 40px 40px;
}
.container-xl .partners > h2{
    color: var(--color-gold);
    font-size: 3rem;
    margin-bottom: 2rem;
}
/*------------------------------ EQUIPE ------------------------------*/
.container .office{
    background-color: var(--color-dark);
    border: 3px solid var(--color-gold);
}
.container .leaders{
    border-radius: 40px 40px 0 0;
}
.container .office > h2{
    color: var(--color-gold);
    font-size: 3rem;
    margin-bottom: 2rem;
}
.container .team-list{
    justify-content: center;
}
.container .office figure{
    text-align: center;
}
.container .office figcaption{
    color: var(--color-gold);
    font-size: 1.8rem;
}
.container .office p{
    font-family: var(--font-main-family-italik);
    font-size: 1.1rem;
}
.container .ca{
    border-radius: 0 0 40px 40px;
}
/*------------------------------ ROLLER ------------------------------*/
/* Carousel */
#toggleContainer label {
    text-align: center;
    width: 70px;
}
#container {
    width: 100%;
    box-sizing: border-box;
}
#toggleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#tilesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-content: center;
}
.tileItem {
    width: 250px;
    height: 250px;
    margin: 5px;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.tileItem:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
}
#galleryContainer {
    height: 500px;
    width: 800px;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}
#toggle {
    width: 200px;
    display: flex;
    align-items: center;
    margin: 10px;
}
#tilesView {

    display: none;
    justify-content: center;
    align-items: center;
}
#galleryView {
    padding: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
#outer3 {
    width: 100px;
    height: 40px;
    background-color: var(--color-gold);
    margin: 10px auto;
    border-radius: 3px;
    border: 2px solid var(--color-gold);
    transition: all 0.5s;
}
#slider3 {
    height: 36px;
    width: 46px;
    background-color: var(--color-dark);
    border-radius: 3px;
    transition: all 0.5s;
}
#slider3.active {
    -webkit-transform: translatex(50px);
    -ms-transform: translatex(50px);
    -o-transform: translatex(50px);
    transform: translatex(50px);
    transition: all 0.5s;
    background-color: var(--color-dark);
}
#outer3.outerActive {
    background-color: var(--color-gold);
    border: 2px solid var(--color-gold);
    transition: all 0.5s;
}
#mainView {
    height: 450px;
    width: 450px;
    border-radius: 5px;
    background-color: var(--color-dark);
    margin-left: 10px;
    margin-right: 10px;
    z-index: 1;
    transition: all 1s;
}
#mainView:hover {
    transform: scale(1.2);
    transition: all 1s;
}
#leftView {
    height: 400px;
    width: 150px;
    opacity: 0.5;
    border-radius: 5px;
    transform: skewy(5deg);
    transform-origin: top right;
    background-color: var(--color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}
#leftView:hover {
    opacity: 1;
    transition: all 1s;
}
#rightView {
    height: 400px;
    width: 150px;
    opacity: 0.5;
    border-radius: 5px;
    transform: skewy(-5deg);
    transform-origin: top left;
    background-color: var(--color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}
#rightView:hover {
    opacity: 1;
    transition: all 1s;
}
.navBtns {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    position: absolute;
    opacity: 0.8;
    background-color: transparent;
    cursor: pointer;
    color: var(--color-gold);
}
.navBtns:hover {
    opacity: 1;
    transition: all 1s;
    background-color: var(--color-dark);
}
#navLeft {
    left: 50px;
}
#navRight {
    right: 50px;
}
#linkTag {
    cursor: pointer;
    z-index: 1;
    box-sizing: border-box;
}
/* Présentation*/
.container .roller{
    border: 3px solid var(--color-gold);
    border-radius: 40px 40px 0 0;
}
.container .roller > h2{
    color: var(--color-gold);
    font-size: 3rem;
    margin-bottom: 2rem;
}
.container .price-roller{
    border: 3px solid var(--color-gold);
}
.container .price-roller > h2{
    color: var(--color-gold);
    font-size: 3rem;
    margin-bottom: 2rem;
}
.container .price-item > h3{
    color: var(--color-gold);
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-family: var(--font-main-family-italik);
}
.container .price-item{
    text-align: center;
    font-size: 1.8rem;
}
.container .supervisor{
    border: 3px solid var(--color-gold);
    border-radius: 0 0 40px 40px;
}
.container .supervisor > h2{
    color: var(--color-gold);
    font-size: 3rem;
    margin-bottom: 2rem;
}
.container .supervisor figcaption {
    color: var(--color-gold);
    font-size: 1.8rem;
}
.container .supervisor figure{
    text-align: center;
}
/*------------------------------ ROLLER HOCKEY ------------------------------*/
.container .warrior{
    border: 3px solid var(--color-gold);
    border-radius: 40px 40px 40px 40px;
}
.container .warrior h2{
    color: var(--color-gold);
    text-align: center;
    font-size: 3rem;
}
.container .warrior .detail-team{
    text-align: center;
    font-family: var(--font-main-family-italik);
    font-size: 1.5rem;
}
.container .history{
    border: 3px solid var(--color-gold);
}
.container .history > h2{
    color: var(--color-gold);
    font-size: 3rem;
    margin-bottom: 2rem;
}
.container .history > p{
    text-align: justify;
}
.container .history > p{
    padding: 0.5rem;
}
.container .hockey{
    border-radius: 0 0 40px 40px;
}
.container .hockey > h2 {
    color: var(--color-gold);
    font-size: 3rem;
    margin-bottom: 2rem;
}
/*------------------------------ TOURNOIS ------------------------------*/
#tournois > h1{
    text-align: center;
    font-size: 4rem;
}
#tournois h2{
    text-align: center;
    font-size: 2.5rem;
    color: var(--color-gold);
}
#tournois .d-flex{
    background-color: var(--color-dark);
    border: 5px solid var(--color-gold);
    border-radius: 40px;
}
#tournois > a{
    display: block;
    margin: 3rem 0; /* 1er valeur= haut et bas //////  2eme valeur= gauche et droite */
}
#tournois .d-flex .w-70 > p{
    margin-top: 1.5rem;
    text-align: justify;
}
/*------------------------------ VALHALLA CUP ------------------------------*/
/* Présentation */
.container .presentation{
    border: 3px solid var(--color-gold);
    text-align: justify;
}
.container .presentation > h2{
    color: var(--color-gold);
    font-size: 3rem;
    margin-bottom: 2rem;
}
/* Poster*/
.container .poster{
    border: 3px solid var(--color-gold);
}
.container .poster > h2{
    color: var(--color-gold);
    font-size: 3rem;
    margin-bottom: 2rem;
}
.container .poster figure{
    text-align: center;
}
.container .poster figcaption{
    color: var(--color-gold);
    font-size: 1.3rem;
}
/* Creator */
.container .creator{
    border: 3px solid var(--color-gold);
}
.container .creator > h2{
    color: var(--color-gold);
    font-size: 3rem;
    margin-bottom: 2rem;
}
.container .creator figure{
    text-align: center;
}
.container .creator figcaption{
    color: var(--color-gold);
    font-size: 1.3rem;
}
.container .creator p{
    font-family: var(--font-main-family-italik);
    font-size: 1.1rem;
}
/* Staff */
.container .staff{
    border: 3px solid var(--color-gold);
    border-radius: 0 0 40px 40px;
}
.container .staff > h2{
    color: var(--color-gold);
    font-size: 3rem;
    margin-bottom: 2rem;
}
.container .staff figure{
    text-align: center;
}
.container .staff figcaption{
    color: var(--color-gold);
    font-size: 1.3rem;
}
.container .staff p{
    font-family: var(--font-main-family-italik);
    font-size: 1.1rem;
}
/*------------------------------ VALHALLA KID'Z ------------------------------*/
main #kidz{
    text-align: center;
}
main #kidz > h1{
    margin: 3rem;
    text-shadow: 2px 2px 0 #FFFFFF, 5px 4px 0 var(--color-gold);
    font-size: 4rem;
}
main #kidz > h1 > span{
    font-family: var(--font-main-family-italik);
}
main #kidz > iframe{
    width: 960px;
    height: 542px;
}
/*------------------------------ BOUTIQUE ------------------------------*/
#shop > h1{
    text-align: center;
    font-size: 4rem;
}
#shop h2{
    text-align: center;
    font-size: 2.5rem;
    color: var(--color-gold);
}
#shop .d-flex{
    background-color: var(--color-dark);
    border: 5px solid var(--color-gold);
    border-radius: 40px;
}
#shop > a{
    display: block;
    margin: 3rem 0; /* 1er valeur= haut et bas //////  2eme valeur= gauche et droite */
}
#shop .d-flex .w-70 > p{
    margin-top: 1.5rem;
    text-align: justify;
}
/*------------------------------ BOUTIQUE RCGA ------------------------------*/
#boutique > h1{
    text-align: center;
    font-size: 4rem;
}
#boutique h2{
    text-align: center;
    font-size: 2.5rem;
    color: var(--color-gold);
}
#boutique .d-flex{
    background-color: var(--color-dark);
    border: 5px solid var(--color-gold);
    border-radius: 40px;
}
#boutique > a{
    display: block;
    margin: 3rem 0; /* 1er valeur= haut et bas //////  2eme valeur= gauche et droite */
}
#boutique .d-flex .w-70 > p{
    margin-top: 1.5rem;
    text-align: justify;
}
/*------------------------------ BOUTIQUE RCGA ------------------------------*/
main #work {
    position: relative;
    height: auto;
    width: 100%;
}
main #work > div{
    position: absolute;
    top: 1.5rem;
    left: 2.5rem;
    color: rgb(35, 35, 36);
}
main #work > div h1{
    font-size: 6rem;
}
main #work > div p{
    font-size: 3rem;
    font-family: var(--font-main-family-italik);
}
/*------------------------------ BOUTIQUE HOCKEY ------------------------------*/
#hockey > h1{
    text-align: center;
    font-size: 4rem;
}
#hockey h2{
    text-align: center;
    font-size: 3rem;
    font-family: var(--font-main-family-italik);
    margin-top: 2rem;
}
#hockey h3{
    text-align: center;
    font-size: 2.5rem;
    color: var(--color-gold);
}
#hockey .d-flex .d-flex{
    background-color: var(--color-dark);
    border: 5px solid var(--color-gold);
    border-radius: 40px;
}
#hockey > a{
    display: block;
    margin: 3rem 0; /* 1er valeur= haut et bas //////  2eme valeur= gauche et droite */
}
#hockey .d-flex p{
    margin-top: 1.5rem;
    text-align: center;
}
#hockey .d-flex .price{
    color: var(--color-gold);
    font-size: 3rem;
    font-family: var(--font-main-family-italik);
}
/*------------------------------ CONTACT ------------------------------*/
.container .contact > h2 , .container .street > h2{
    color: var(--color-gold);
    font-size: 3rem;
    margin-bottom: 2rem;
}
/*------------------------------ 404 ------------------------------*/
main #ouch404 {
    position: relative;
    height: auto;
    width: 100%;
}
main #ouch404 > div{
    position: absolute;
    top: 4rem;
    left: 5rem;
    color: rgb(35, 35, 36);
}
main #ouch404 > div h1{
    font-size: 12rem;
}
main #ouch404 > div p{
    font-size: 5rem;
    font-family: var(--font-main-family-italik);
}
main #ouch404 > div p span{
    font-weight: 600;
}
/*------------------------------ FOOTER ------------------------------*/
/* div parent top-footer */
#footer{
    background-color: var(--color-dark);
    color: var(--color-light);
    border-top: 3px solid var(--color-gold);
    padding: 2rem 2rem 0.5rem;
}
#footer .top-footer{
    display: flex;
    flex-wrap: wrap;
}
#footer .top-footer .top-footer-item{
    width: 20%;
}
#footer .top-footer .top-footer-item:nth-last-child(2){
    border-right: 1px solid var(--color-gold);
}
#footer .top-footer .top-footer-item:last-child{
    padding-left: 2rem;
}
#footer .top-footer .top-footer-item .footer-title{
    color: var(--color-gold);
    font-size: 1.5rem;
}
#footer .top-footer .top-footer-item .footer-description{
    padding-top: 1rem;
    line-height: 2;
    font-size: 1.1rem;
}
#footer .top-footer .top-footer-item .footer-description img{
    width: 3rem;
    display: inline-block;
    margin: 0.3rem;
}
/* div copy */
#footer .copyright{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--color-gold);
    border-top: 1px solid var(--color-gold);
    padding: 0.5rem 0 0;
    margin-top: 2rem;
}

/*------------------------------ RESPONSIVE MEDIA QUERY ------------------------------*/
@media (max-width: 1400px) {
    .logo img:first-child{
        display: none;
    }
    .logo{
        justify-content: flex-end;
    }
}
@media (max-width: 1200px) {
    .container{
        width: 100%;
    }
}
@media (max-width: 992px) { /* MD */
    /* CLASS GENERIQUE*/
    .w-md-50{
        width: 50%;
    }
    .w-md-100{
        width: 100%;
    }
    .d-md-none{
        display: none;
    }

    /* NAVBAR */
    #navBar #burger{
        display: block;
    }
    #navBar .menu{
        display: block;
        position: absolute;
        background-color: var(--color-dark);
        height: 0;
        left: 0;
        right: 0;
        top: 100%;
        max-width: 100%;
        transition: 0.5s;
        overflow: hidden; /*Me permet de cacher les elements quand le menu se repli*/
        padding: 0 0.8rem;
        z-index: 10;
    }
    #navBar .menu .menu-item{
        padding: 0.8rem 0;
        border-bottom: 1px solid var(--color-gold);
    }
    #navBar .menu .menu-item:last-child{
        border-bottom: none;
    }
    #navBar .menu.active{
        border-top: 2px solid var(--color-gold);
        border-bottom: 2px solid var(--color-gold);
        height: 420%;
    }
    /* CAROUSEL ROLLER */
    #galleryContainer {
        height: auto;
        width: 100%;
    }
    #mainView {
        height: calc(100vw*0.6);
        width: calc(100vw*0.6);
    }
    #rightView, #leftView {
        height: calc(100vw*0.5);
        width: calc(100vw*0.15);
    }
    /* VALHALLA KID'Z */
    main #kidz > iframe{ /* calcul du ratio */
        width: calc(100vw - 20px); /* Taille total - 20px avec le calcul*/
        height: calc(calc(100vw - 20px) / 1.77); /* 1.77 est le ratio L l */
    }
    /* RCGA*/
    main #work > div h1{
        font-size: 3rem;
    }
    main #work > div p{
        font-size: 3rem;
    }
    /* 404 */
    main #ouch404 > div h1{
        font-size: 6rem;
    }
    main #ouch404 > div p{
        font-size: 3rem;
    }
    /* FOOTER */
    #footer .top-footer .top-footer-item{
        width: 50%;
        text-align: center;
        padding-bottom: 2rem;
    }
    #footer .top-footer .top-footer-item:nth-last-child(2){
        border: none;
    }
    #footer .top-footer .top-footer-item:last-child{
        padding-left: 0;
        width: 100%;
        border-top: 1px solid var(--color-gold);
        padding-top: 2rem;
    }
}
@media (max-width: 768px) { /* MOBILE // SM // */
    /* LOGO */
    .logo img:last-child{
        width: 100%;
        height: auto;
    }
    /* CLUB */
    .container-xl h1{
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin: auto;
    }
    .container-xl h1 > span{
        display: block;
        text-align: left;
    }
    /* TOURNOIS */
    .w-sm-100{
        width: 100%;
    }
    .flex-sm-reverse{
        flex-direction: column-reverse;
    }
    .px-sm-1{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    #tournois h2{
        margin-top: 2rem;
    }
    /* BOUTIQUE RCGA */
    main #work > div{
        top: 1rem;
        left: 0.5rem;
    }
    /* BOUTIQUE HOCKEY*/
    #hockey h3{
        margin-top: 2rem;
    }
    /* 404 */
    main #ouch404 > div{
        top: 1.5rem;
        left: 1.5rem;
    }
}
@media (max-width: 576px){
    /* 404 */
    main #ouch404 > div h1{
        font-size: 4rem;
    }
    main #ouch404 > div p{
        font-size: 2rem;
    }
    /* FOOTER */
    #footer .top-footer .top-footer-item{
        width: 100%;
    }
    #footer .copyright{
        width: 100%;
        justify-content: center;
    }
}